.search{
    background-color: white;
    border-radius: 25px;
    border: 2px solid aquamarine;
    height: 25px;
    width: 150px;
    margin: 5px;
    
}
.pluss{
    background-color: aquamarine;
    border-radius: 50%;
    border: 2px solid aquamarine;
    height: 25;
    width: 150;
    margin: 5px;
}
.acct{
    background-color: blue;
    border: 2px solid black;
    height: 30;
    width: 450;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
}
